<div v-bind:class="{ open: show, dropdown: !dropup, dropup: dropup, 'dropdown-arrow': arrow}" v-on:click.prevent="toggle($event)">
    <span class="btn-action">
        <button
            id="dLabel"
            class="btn {{dropdownToggle}} {{btnVariant}} {{btnSize}}"
            aria-haspopup="true"
            aria-expanded="{{show}}"
            :disabled="disabled"
            v-if="text">
            <span v-html="text"></span>
            <span class="caret"></span>
        </button>
        <slot name="button" v-if="!text"></slot>
    </span role="button">
    <slot></slot>
</div>
