.dropup {
	display: inline-block;
} 

.dropdown {
	&.dropdown-arrow {
		.dropdown-menu {
			margin-top: 10px;
			&:before {		
				padding: 0;
				width: 0;
				height: 0;
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				border-bottom: 10px solid $dropdown-border-color;
				content: ' ';
				position: absolute;
				top: -10px;
				left: 10px;
			}
			&.dropdown-menu-right {
				&:before {		
					left: auto;
					right: 10px;
				}
			}
		}
	}
}
