.list-group {
	li.list-group-item {
		// Hover state
	  @include hover-focus {
	    color: $list-group-link-hover-color;
	    text-decoration: none;
	    background-color: $list-group-hover-bg;
	  }
	}
}